#header {
    background-image: url(https://images.unsplash.com/photo-1523926766673-412194207580?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    
}




https://images.unsplash.com/photo-1523926766673-412194207580?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60